body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(190, 226, 226, 0.958);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    
}
h1 {
    color:  rgba(9, 57, 57, 0.932);
    font-weight: bold ;
}
.options {
    display: flex;
    justify-content: space-between;
    
}

.options div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.options img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: solid black;
    padding: 20px;
    cursor: pointer;
    box-shadow: 3px 3px black;
    background-color: rgba(62, 179, 181, 0.932);
    transition:  box-shadow 0.3s, translate 0.3s;
}

.disable-options {
    pointer-events: none;
}

.options img:hover {
    background-color: rgba(13, 85, 86);
}

.options img:active {
    box-shadow: 0px 0px black;
    translate: 3px 3px;
}

.panel {
    display: flex;
}

.mega-eleccion {
    border: solid rgba(62, 179, 181, 0.932) 2px;
    box-shadow: 3px 3px rgba(62, 179, 181, 0.932);
    border-radius: 30px;
    background-color: rgb(238, 180, 79);
    margin: 20px;
    text-align: center;
}

.eleccion {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
}

.sub-mega {
    display: flex;
}

.ScoreBoard {
    display: flex;
    border: solid rgba(0, 0, 0, 0) 5px;
    border-radius: 30px;
    background-color: rgb(240, 219, 29);
    border: solid rgba(62, 179, 181, 0.932) 2px;
    box-shadow: 3px 3px rgba(62, 179, 181, 0.932);
    margin: 20px;
}

.eleccion, .winner, .ScoreBoard {
    color:  rgba(9, 57, 57);
    font-weight: bold ;
}

.ScoreBoard >div {
    margin: 20px;
}

.ScoreBoard p {
    text-align: center;
}

.Mega-finalScore {
    display: none;

}

.Show-Mega-finalScore {
    display: block !important;
}

.finalScore {
    background-color:  rgba(9, 57, 57);;
    border: solid black 2px;
    box-shadow: 3px 3px black;
    border-radius: 30px;
    color: aliceblue;
    font-weight: bold ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 450px;
    height: 360px;
    position: absolute;
    top: 35%;
    left: 33%;

}


.finalScore img {
    width: 60px;
    height: auto;
    fill: aliceblue;
}

#playAgainBtn {
    background-color: rgb(238, 180, 79);
    border: solid black 2px;
    border-radius: 10px;
    color: rgba(9, 57, 57);
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1199px) {
  

    .finalScore {
        width: 350px;
        top: 30%;
        left: 35%;
        }
}


@media (max-width: 768px) {

    body {
        width: 100%;
    }

    h1 {
    font-size: large;
    text-align: center;
    }

    .options{
        width: 40%;
        margin-right: 20%;
        }

    .options img {
        width: 70%;
        }

    .options div {
    width: 40%;
    }

    .panel {
        flex-direction: column;
    }

    .sub-mega {
        flex-direction: column;
    }
    
    
    .ScoreBoard {
        display: flex;
        justify-content: center;
        
    }



    .finalScore {
        width: 230px;
        height: 430px;
        top: 40%;
        left: 100px;
        
        
        
        
    }

}